<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{data.bodytext}">
			<f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
		</f:if>

		<div class="gallery readmore-container" data-gallery-uid="{data.uid}" data-gallery-lightbox="{data.image_zoom}">
			<div class="readmore-container--collapse">
				<ul class="gallery--container readmore-container--body">
					<f:for each="{images}" as="image" iteration="iterator">
						<li class="gallery__item">
							<f:render section="Item" arguments="{_all}" />

							<f:if condition="{iterator.index} === 3">
								<f:render section="ReadmoreToggle" />
							</f:if>
						</li>
					</f:for>
				</ul>
			</div>

		</div>
	</f:section>

	<f:section name="ReadmoreToggle">
		<button class="readmore-container--toggle gallery-readmore">
			<div class="gallery-readmore__icon"><fo:svg.inline source="/assets/svg/readmore.svg" /></div>
			<div class="gallery-readmore__label">
				<span class="gallery-readmore__label-value">0</span>
				<span class="gallery-readmore__label-description"><f:translate key="LLL:EXT:ps14_site/Resources/Private/Language/locallang_frontend.xlf:images.readmore" /></span>
			</div>
		</button>
	</f:section>

	<f:section name="Item">
		<a class="tobii-opener gallery--image" data-group="gallery-{data.uid}" href="{f:uri.image(src: image.uid, treatIdAsReference: 1, maxWidth: 1280, height: 1024, cropVariant: 'fullscreen')}" aria-label="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:action.enlarge')}">
			<f:render section="Image" arguments="{_all}" />
		</a>
	</f:section>

	<f:section name="Item-X">
		<f:if condition="{data.image_zoom}">
			<f:then>
				<a class="tobii-trigger gallery--image" data-group="gallery-{data.uid}" href="{f:uri.image(src: image.uid, treatIdAsReference: 1, maxWidth: 1280, height: 1024, cropVariant: 'fullscreen')}" aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.action.enlarge')}">
					<f:render section="Image" arguments="{_all}" />
				</a>
			</f:then>
			<f:else>
				<div class="gallery--image">
					<f:render section="Image" arguments="{_all}" />
				</div>
			</f:else>
		</f:if>
	</f:section>

	<f:section name="Image">
		<f:render partial="Media/Main" section="Main" arguments="{
			file: image,
			settings: '{fo:settings.get(extension: \'Ps14Images\', path: \'images.gallery\')}',
			lazyload: data.image_lazyload
		}" />
	</f:section>
</div>