<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
  xmlns:co="http://typo3.org/ns/Ps14/Site/Component/ComponentCollection"
  data-namespace-typo3-fluid="true">

  <f:if condition="{content.tx_foundation_no_caption}">
    <f:then>
      <f:variable name="description" value="{false}" />
      <f:variable name="copyright" value="{false}" />
    </f:then>
    <f:else>
      <f:variable name="description" value="{true}" />
      <f:variable name="copyright" value="{true}" />
    </f:else>
  </f:if>

  <f:if condition="{content.imagewidth}">
    <f:variable name="width" value="{content.imagewidth}" />
  </f:if>

  <co:media.container media="{file}" width="{width}" priority="{renderingPriority}" ratio="{ratio}" description="{description}" copyright="{copyright}" />
</html>